.DS_Store
._*
.Spotlight-V100
.Trashes
.fseventsd
.AppleDouble
.AppleDB
.AppleDesktop
ADMIN/.tmp-downloads/
config/master.json
extensions/
package-lock.json
public/aboutme/media/
public/aboutme/content.md
public/CrafTech/
public/favicon.ico
public/media/
public/projects/
public/sidehost/
public/small-projects/
package.json
public/fonts/
